# Base URL of the gateway API (no trailing slash)
NEXT_PUBLIC_API_URL=http://localhost:5147/api-gateway
# Internal API URL for server-side rendering (optional)
INTERNAL_API_URL=http://localhost:8081/api-gateway
